@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 50% 0%, rgba(37, 150, 190, 0.2) 0%, #000000 100%);
  min-height: 100vh;
  color: #e5e7eb;
}
